h1 {
  margin: 0px 0px !important;
}

.developer {
  text-align: center;
  margin: 20px 0px;
}

.filters_card {
  padding: 17px 20px;
  background-color: #fff;
  border-radius: 5px;
  height: 480px !important;
  margin-bottom: 10px;
  max-width: 200px;
}

.image_name {
  color: #26457e;
  font-size: 20px;
  font-weight: 600;
}

.image_desc {
  color: #26457e !important;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
  margin-bottom: 20px;
}

.filter {
  font-size: 18px;
  font-weight: 600;
}

.filter_headers {
  text-align: center !important;
  border-bottom: 3px solid #dfdcdd;
  margin: 20px 25px 0px;
}

.year_button {
  display: flex;
  justify-content: space-between;
  margin: 7px 0px;
}

.year_button button {
  background-color: #c5e09b;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}

.samerow {
  display: flex;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto auto;
}

.image_size {
  width: 250px;
  height: 200px;
}
.year_button{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
}
.mb-1{
    margin-bottom: 0.5rem;
}
@media only screen and (min-width: 320px) and (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto;
  }

  .samerow {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto;
  }

  .filters_card {
    padding: 17px 20px;
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) {

  .filters_card {
    padding: 17px 20px;
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
  }

  .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto auto;
  }

  .filters_card {
    padding: 17px 20px;
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
  }
}

@media only screen and (min-width: 1441px) {
  .grid-container {
    display: grid;
    grid-column-gap: 50px;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
  }

  .filters_card {
    padding: 17px 20px;
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
  }
}
